<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for a file or directory that exists, serve it directly.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, rewrite the request to index.php
    RewriteRule ^ index.php [L]
</IfModule> 